body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:794px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:794px;
  font-size:28px;
}
#u244 {
  position:absolute;
  left:2px;
  top:389px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
  background:inherit;
  background-color:rgba(250, 249, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u246 {
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:100px;
}
#u247 {
  position:absolute;
  left:2px;
  top:42px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Regular', '华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
}
#u248 {
  position:absolute;
  left:195px;
  top:69px;
  width:145px;
  height:17px;
  font-family:'华文楷体 Regular', '华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe Print Bold', 'Segoe Print';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FF9900;
}
#u250 {
  position:absolute;
  left:40px;
  top:38px;
  width:168px;
  height:83px;
  font-family:'Segoe Print Bold', 'Segoe Print';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FF9900;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
}
#u254 {
  position:absolute;
  left:2px;
  top:7px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u255 {
  position:absolute;
  left:1095px;
  top:7px;
  width:57px;
  height:17px;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u257 {
  position:absolute;
  left:900px;
  top:7px;
  width:29px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u258 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u259 {
  position:absolute;
  left:975px;
  top:7px;
  width:71px;
  height:17px;
}
#u260 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:370px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u261 {
  position:absolute;
  left:50px;
  top:155px;
  width:450px;
  height:370px;
}
#u262 {
  position:absolute;
  left:2px;
  top:177px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263 {
  position:absolute;
  left:50px;
  top:155px;
  width:450px;
  height:370px;
  overflow:hidden;
}
#u263_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:370px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u263_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:310px;
}
#u264 {
  position:absolute;
  left:100px;
  top:30px;
  width:250px;
  height:310px;
}
#u265 {
  position:absolute;
  left:2px;
  top:147px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u267 {
  position:absolute;
  left:84px;
  top:560px;
  width:80px;
  height:61px;
}
#u267_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u267.mouseOver {
}
#u267_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u267.mouseDown {
}
#u267_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u267.selected {
}
#u268 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:61px;
}
#u269 {
  position:absolute;
  left:99px;
  top:560px;
  width:50px;
  height:61px;
}
#u270 {
  position:absolute;
  left:2px;
  top:22px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u272 {
  position:absolute;
  left:705px;
  top:445px;
  width:178px;
  height:30px;
  font-size:25px;
}
#u273 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u274 {
  position:absolute;
  left:705px;
  top:325px;
  width:182px;
  height:30px;
  font-size:25px;
}
#u275 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u276 {
  position:absolute;
  left:570px;
  top:325px;
  width:77px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u278 {
  position:absolute;
  left:570px;
  top:385px;
  width:77px;
  height:30px;
  font-size:25px;
}
#u279 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u280 {
  position:absolute;
  left:705px;
  top:385px;
  width:297px;
  height:30px;
  font-size:25px;
}
#u281 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u282 {
  position:absolute;
  left:570px;
  top:445px;
  width:102px;
  height:30px;
  font-size:25px;
}
#u283 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u284 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF6600;
}
#u285 {
  position:absolute;
  left:705px;
  top:238px;
  width:21px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF6600;
}
#u286 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u287 {
  position:absolute;
  left:570px;
  top:180px;
  width:455px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u288 {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  white-space:nowrap;
}
#u289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u289 {
  position:absolute;
  left:570px;
  top:243px;
  width:139px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u290 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:2px;
}
#u291 {
  position:absolute;
  left:570px;
  top:290px;
  width:505px;
  height:1px;
  color:#F2F2F2;
}
#u292 {
  position:absolute;
  left:2px;
  top:-8px;
  width:501px;
  visibility:hidden;
  word-wrap:break-word;
}
#u293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u293 {
  position:absolute;
  left:1003px;
  top:485px;
  width:140px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u293_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u293.mouseOver {
}
#u294 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u295 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u296 {
  position:absolute;
  left:50px;
  top:640px;
  width:25px;
  height:25px;
}
#u296_img.mouseDown {
}
#u296.mouseDown {
}
#u296_img.selected {
}
#u296.selected {
}
#u297 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u298 {
  position:absolute;
  left:80px;
  top:645px;
  width:64px;
  height:17px;
  color:#797979;
}
#u298_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u298.mouseDown {
}
#u298_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u298.selected {
}
#u299 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u300 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u301_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:578px;
  height:9px;
}
#u301 {
  position:absolute;
  left:570px;
  top:573px;
  width:573px;
  height:4px;
}
#u302 {
  position:absolute;
  left:2px;
  top:-6px;
  width:569px;
  visibility:hidden;
  word-wrap:break-word;
}
#u303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  height:153px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u303 {
  position:absolute;
  left:570px;
  top:612px;
  width:573px;
  height:153px;
  font-size:20px;
}
#u304 {
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  word-wrap:break-word;
}
#u305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF9900;
}
#u305 {
  position:absolute;
  left:570px;
  top:531px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#FF9900;
}
#u306 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u307 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u308 {
  position:absolute;
  left:1036px;
  top:162px;
  width:43px;
  height:17px;
}
#u309 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u310 {
  position:absolute;
  left:1100px;
  top:140px;
  width:60px;
  height:60px;
}
#u311 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u312 {
  position:absolute;
  left:1074px;
  top:242px;
  width:113px;
  height:17px;
  color:#A1A1A1;
}
#u313 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u314 {
  position:absolute;
  left:1112px;
  top:210px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u315 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
