<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>易书</title>
    <!-- 包含头部信息用于适应不同设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 包含 bootstrap 样式表 -->
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="/static/css/head.css" rel="stylesheet" type="text/css"/>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body >

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid"> 
    <div class="navbar-header">
        <a class="navbar-brand" href="/web/home">首页</a>
    </div>
    <div>
        <ul class="nav navbar-nav">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{ user }} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/web/PCenter">个人中心</a></li>
                    <li><a href="/web/login">退出登录</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    买家中心 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/web/buyer_center/?b=-1">已买到的宝贝</a></li>
                    <li><a href="/web/favorites">收藏夹</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    卖家中心 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/web/upload">发布新的二手课本</a></li>
                    <li><a href="/web/selling">已上架的课本</a></li>
                    <li><a href="/web/seller_center">已卖出的课本</a></li>
                </ul>
            </li>

        </ul>
    </div>
    </div>
</nav>

    <div style="margin-top:100px;text-align:left;margin-left:87px;">
        <form method="post">
            {% csrf_token %}
            <img src="/static/img/logo.png"  width="60" height="60" id="logo" style="margin-bottom:24px">
            <span id="name">易书</span>
            <input name="search" id="search_store_block" onKeyup="getContent(this);" value="search book" onfocus="if(this.value=='search book'){this.value=''}" onblur="if(this.value==''){this.value='search book'}"/>
            <input type="submit" class="btn btn-default" style="height:30px;margin-bottom:2px;"value="搜索">
        </form>
    </div>
</body>
</html>