<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>易书</title>
    <!-- 包含头部信息用于适应不同设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 包含 bootstrap 样式表 -->
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="../head.css" rel="stylesheet" type="text/css"/>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="white" style="opacity:0.2;"></div>
    <div id='lbg'>
    </br></br></br>
    <div id='login_title'>注册</div>
        <input class="input" onKeyup="getContent(this);" style="outline:none;"value="学号" onfocus="if(this.value=='学号'){this.value=''}" onblur="if(this.value==''){this.value='学号'}"/>
        <input class="input" onKeyup="getContent(this);" style="outline:none;"value="密码" onfocus="if(this.value=='密码'){this.value=''}" onblur="if(this.value==''){this.value='密码'}"/>
        <input class="input" onKeyup="getContent(this);" style="outline:none;"value="确认密码" onfocus="if(this.value=='确认密码'){this.value=''}" onblur="if(this.value==''){this.value='确认密码'}"/>
        <input onclick="submit_bt_onclick()" id="submit_bt" type="button" value="注册" name="Button1">

    <p style="margin-top:20px;">已拥有账户？        
        <a href="../login.html" style="color:#68493a;font-size:15pt;">登录</a>
    </p>

    </div> 
    <script type="text/javascript">
        function submit_bt_onclick(){
            document.get
            alert("get!");
        }
    </script>
</body>

</html>
